
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style= "text-align:center">Image</th>
      <th style= "text-align:center">Name</th>
      <th style= "text-align:center">Download Link</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image|%>
      <tr>
        <td style= "text-align:center"><%=link_to image_tag(image.url,size:"80"), image_view_path(image.id)%></td>
        <td style= "text-align:center"><%= link_to image.name, image_view_path(image.id) %></td>
        <td style= "text-align:center"><%= link_to "Download Image", image_download_path(image) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
